@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: "Open Sans", serif;
  background-color: aliceblue;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productContainer {
  display: flex;
  width: 1080px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-wrap: wrap;
  border-top: 1px solid #bbb;
}

.ProductsContainer{
  text-align: center;
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.textContainer {
  display: flex;
  text-wrap: wrap;
  justify-content: space-around;
  width: 900px;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  background-color: aliceblue;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
}

.listContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}